<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>Biomasafajar</span> 
      <span class="example-spacer"></span>

      <button mat-button>About</button>
      <button mat-button>Service</button>
      <button mat-button>Contact</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="basic-container">
  <p>
    <button mat-raised-button color="warn">My Button</button>

  </p>
  <span class="version-info">Current build: {{version.full}}</span>
</div>


