<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>Biomasafajar</span> 
      <span class="example-spacer"></span>

      <button mat-button>About</button>
      <button mat-button>Service</button>
      <button mat-button>Contact</button>
    </mat-toolbar-row>
</mat-toolbar>
  <mat-card>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="answer" placeholder="Your goals" value=""/>
    </mat-form-field>
    <button mat-raised-button color="warn" (click)="showAnswer()" >Answer me</button>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none' "></mat-spinner>
  </mat-card>

  <mat-card *ngIf="answerDisplay">
    <h1>{{ answerDisplay }}, you're damn awesome!</h1>
  </mat-card>



